<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>view</title>
<script type="text/javascript"
	src="${ctx}/statics/jquery/jquery-1.9.1.js"></script>
<script type="text/javascript"
	src="${ctx}/statics/jquery/jquery.form.js"></script>
<script type="text/javascript"
	src="${ctx}/statics/jquery/jquery.tmpl.js"></script>
<script type="text/javascript"
	src="${ctx}/statics/bootstrap-3.3.5-dist/js/bootstrap.js"></script>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	href="${ctx}/statics/bootstrap-3.3.5-dist/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet"
	href="${ctx}/statics/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
</head>
</head>
<body>
	<div style="width: 800px; height: 600px;" class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
			#if ($lottery.type=='1')
										彩上彩 
										#else 
										满堂彩 
										#end</div>
			<div class="panel-body">
				<div class="input-group">
					<div class="col-lg-6">
						<div class="input-group">
							<span class="input-group-addon"> 姓名 </span> 
							<input type="text" value="${lottery.name}"
								class="form-control" name="name" aria-label="...">
						</div>
						<!-- /input-group -->
					</div>
				</div>
				<br>
				<div class="input-group">
					<!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="input-group">
							<span class="input-group-addon"> 性别 </span> <span
								class="form-control"> 
								<input type="radio" name="sex"
								#if($lottery.sex=='0')checked="checked" #end value="0" id="sex0" aria-label="...">
								<label for="sex0">男</label> 
								<input type="radio" name="sex" 
								#if($lottery.sex=='1')checked="checked" #end 
								value="1" id="sex1" aria-label="..."> <label for="sex1">女</label>
							</span>
						</div>
						<!-- /input-group -->
					</div>
					<!-- /.col-lg-6 -->
				</div>
				<br />
				<div class="input-group">
					<div class="col-lg-6">
						<div class="input-group">
							<span class="input-group-addon"> 身份证号码 </span> <input type="text"
								class="form-control" name="code" aria-label="..." value="${lottery.code}">
						</div>
						<!-- /input-group -->
					</div>
				</div>
				#if($lottery.type=='1')
				<br>
				<div class="input-group">
					<!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="input-group">
							<span class="input-group-addon"> 传单编号 </span> <input type="text"
								class="form-control" name="cdCode" aria-label="..." value="${lottery.cdCode}">
						</div>
						<!-- /input-group -->
					</div>
					<!-- /.col-lg-6 -->
				</div>
				#end
				<br />
				<div class="input-group">
					<div class="col-lg-6">
						<div class="input-group">
							<span class="input-group-addon"> 加奖金额 </span> <input type="text"
								class="form-control" name="money" aria-label="..." value="${lottery.money}">
						</div>
						<!-- /input-group -->
					</div>
					<!-- /.col-lg-6 -->
				</div>
				<br>
				<div class="input-group">
					<div class="col-lg-6">
						<div class="input-group">
							<span class="input-group-addon"> 备注 </span> <input type="text"
								class="form-control" name="bz" aria-label="..." value="${lottery.bz}">
						</div>
						<!-- /input-group -->
					</div>
					<!-- /.col-lg-6 -->
				</div>
				<br>
				<br>
				<div class="input-group">
					<div class="col-lg-6">
						<div class="input-group">
							<span class="input-group-addon"> 签名</span> <input type="text"
								class="form-control" name="bz" aria-label="..." >
						</div>
						<!-- /input-group -->
					</div>
					<!-- /.col-lg-6 -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>